@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.cdnfonts.com/css/euclid-circular-b');

:root {
  --border-grey: #E4E4E4;
  --text-grey: #919191;
  --text-grey-1: #606060;
  --text-grey-2: #3D3D3D;
  --text-grey-3: #191919;
  --text-grey-4: #CBCBCB;
  --bg-grey: #F5F5F5;
  --bg-grey-1: #fafcfc;
  --bg-grey-2: #171717;
  --text-disabled: #CBCBCB;
  --text-secondary: #FF6A6A;
  --text-success: #12D8A0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: 'Euclid Circular B', sans-serif;
  font-weight: 500;
  font-size: 14px; 
  color: var(--text-grey-3);                                            
}

.react-calendar{
  border:0px !important;
  background-color: black !important;
  color: white !important;
}

.react-calendar__navigation button:enabled:hover, .react-calendar__navigation button:enabled:focus {
    background-color: rgb(68 68 68) !important;
}

.react-calendar__tile:enabled:hover, .react-calendar__tile:enabled:focus {
     background-color: rgb(68 68 68) !important;
}

.react-calendar__tile--now {
    background: green !important
}
